# Poisson discrete count model for MTurk demographics

In [2]:
%matplotlib inline
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

df = pd.DataFrame.from_csv("mturk_surveys.csv",index_col=None)
df.gender[df.gender=='Female']='female'
df

,Unnamed: 0,gender,hit_answered_date,hit_creation_date,household_income,household_size,location_city,location_country,location_region,marital_status,post_to_completion_secs,worker_id,year_of_birth
0,0,female,2016-09-14 17:37:11.297,2016-09-14 17:35:14.000,"$40,000-$59,999",1,mount holly,US,nj,divorced,117.0,a013d8ba79229f477b5b045bf35c7d57,1956
1,1,male,2016-09-14 17:29:09.539,2016-09-14 17:20:14.000,"Less than $10,000",2,pune,IN,mh,single,535.0,4958cd4059bd09a144c2698d50f5bc60,1992
2,2,female,2016-09-14 17:13:35.428,2016-09-14 16:20:14.000,"Less than $10,000",4,caracas,VE,a,divorced,3201.0,0a79a3e3ea28284e7a92ce0ddaa05e06,1978
3,3,female,2016-09-14 17:10:54.723,2016-09-14 17:05:13.000,"$75,000-$99,999",3,scottsdale,US,az,cohabitating,341.0,1079d94e2374ade52af1de09232c9797,1963
4,4,male,2016-09-14 16:52:20.792,2016-09-14 16:50:13.000,"Less than $10,000",4,ambala,IN,hr,single,127.0,897b71b78803b47bc19d0d31ff91856e,1993
5,5,female,2016-09-14 16:36:15.158,2016-09-14 16:35:14.000,"$75,000-$99,999",4,baldwinsville,US,ny,married,61.0,7a50b2a5e137a81bd5b5bb3c1bffc253,1970
6,6,male,2016-09-14 16:19:02.647,2016-09-14 15:35:16.000,"$10,000-$14,999",1,bangalore,IN,ka,single,2626.0,5e36b5553f8111cfafb56859641f4481,1991
7,7,female,2016-09-14 16:05:55.329,2016-09-14 16:05:16.000,"$25,000-$39,999",1,cambridge,US,ma,single,39.0,3ee130473a68a810fa64957e36500330,1982
8,8,female,2016-09-14 15:52:44.353,2016-09-14 15:50:14.000,"$60,000-$74,999",2,oklahoma city,US,ok,cohabitating,150.0,8457e3e06386f0f11fcdbba837d774bb,1991
9,9,female,2016-09-14 15:21:50.701,2016-09-14 15:20:16.000,"$75,000-$99,999",4,kansas city,US,mo,married,94.0,ad2bac11044e812a71adad3e29da27dd,1978
10,10,male,2016-09-14 15:06:15.112,2016-09-14 15:05:22.000,"$60,000-$74,999",4,allentown,US,pa,married,53.0,27dee7064cf8439d65c8b78ffda774d6,1979
11,11,female,2016-09-14 14:57:02.051,2016-09-14 14:50:13.000,"$75,000-$99,999",3,nashville,US,tn,married,409.0,0b88a29b47b0d434e937bd317b42783d,1973
12,12,female,2016-09-14 14:41:13.125,2016-09-14 14:35:13.000,"$100,000 or more",2,hoboken,US,nj,cohabitating,360.0,569fe5b49f63064283977df4b67c9707,1991
13,13,male,2016-09-14 14:33:36.442,2016-09-14 14:20:12.000,"$75,000-$99,999",5+,chicago,US,il,single,804.0,6156306429476524dd600bf5765b889d,1983
14,14,male,2016-09-14 14:07:08.241,2016-09-14 14:05:10.000,"$60,000-$74,999",3,st. charles,US,mo,single,118.0,3fffa91c4561088c3e521ec9a8b0a4d8,1979
15,15,female,2016-09-14 13:52:18.082,2016-09-14 13:50:11.000,"$40,000-$59,999",4,webster,US,ny,married,127.0,995e6ae1b2fe99dc41ae6b599f7ded68,1980
16,16,female,2016-09-14 13:41:17.231,2016-09-14 13:35:11.000,"$25,000-$39,999",5+,newburgh,US,in,married,366.0,5ecb5d8c9e3ad8d35bfeb8518cb2c6ba,1986
17,17,male,2016-09-14 13:28:04.327,2016-09-14 13:05:13.000,"Less than $10,000",3,?,IN,?,married,1371.0,fc5658ca921826d54d39df0583cf71dd,1985
18,18,female,2016-09-14 13:20:44.603,2016-09-14 13:20:12.000,"$75,000-$99,999",3,rio rancho,US,nm,married,32.0,7c1e76b57f443e723819da325569d4ae,1975
19,19,female,2016-09-14 12:56:23.430,2016-09-14 12:50:12.000,"$25,000-$39,999",2,st. louis,US,mo,married,371.0,a6a0640e30455450e3692b4d3fdeaf49,1972
20,20,male,2016-09-14 12:42:09.309,2016-09-14 12:35:09.000,"Less than $10,000",3,bhubaneshwar,IN,or,single,420.0,e396161b8ddaa8d71e1e3707c9ecf579,1992
21,21,male,2016-09-14 12:30:07.283,2016-09-14 12:20:09.000,"Less than $10,000",2,abuja,NG,fc,married,598.0,7ed2fc9ab1cd40250fad4c90cc829b9e,1956
22,22,female,2016-09-14 12:19:15.966,2016-09-14 12:05:10.000,"$10,000-$14,999",4,bangalore,IN,ka,married,845.0,b59a707306966c1c9c8b8ecabecbcaef,1986
23,23,male,2016-09-14 12:11:57.657,2016-09-14 11:05:11.000,"$10,000-$14,999",5+,erode,IN,tn,single,4006.0,8eae291a5b240cd2579f7697d28fd929,1994
24,24,male,2016-09-14 11:53:20.387,2016-09-14 11:50:10.000,"$40,000-$59,999",1,sioux falls,US,sd,single,190.0,c9f76f3a197218f609ac97a7c7c018d6,1965
25,25,female,2016-09-14 11:37:52.886,2016-09-14 11:35:12.000,"$25,000-$39,999",3,oklahoma city,US,ok,cohabitating,160.0,761d91a5711760550ff32cfd0436f477,1982
26,26,male,2016-09-14 11:21:24.903,2016-09-14 11:20:10.000,"$100,000 or more",2,little silver,US,nj,cohabitating,74.0,96e1ca864c69ab8f35ae051ab9e7e7a8,1973
27,27,male,2016-09-14 11:05:35.115,2016-09-14 10:50:12.000,"$10,000-$14,999",3,sivakasi,IN,tn,married,923.0,6be1c47956b2302513940087d4b43e73,1988
28,28,female,2016-09-14 10:56:16.475,NaN,"$60,000-$74,999",3,bellevue,US,ne,engaged,NaN,8d05753e8c6a63ead3394b05c44c8e6d,1994
29,29,male,2016-09-14 10:45:48.225,2016-09-14 10:35:12.000,"$15,000-$24,999",4,?,GR,?,single,636.0,923e6b4575594cd2c1f3a7a1a441fc4e,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52462,52462,female,2015-03-26 18:57:05.187,2015-03-26 18:52:44.000,"$40,000-$59,999",2,staunton,US,il,married,261.0,5515f3ae7aca79fa78740624fdcbfc5f,1966
52463,52463,male,2015-03-26 18:38:43.408,2015-03-26 18:37:36.000,"Less than $10,000",5+,plymouth,US,ma,married,67.0,a9086e90fb610a181f8a0048c782a769,1964
52464,52464,female,2015-03-26 18:23:12.754,2015-03-26 18:22:27.000,"$40,000-$59,999",2,pottsville,US,pa,married,45.0,b1afc7d45433406bb047197319fcbd19,1983
52465,52465,male,2015-03-26 18:08:10.110,2015-03-26 18:07:19.000,"Less than $10,000",3,?,EG,?,single,51.0,ba04e36d1d3fb682b2160030b3755068,1997
52466,52466,female,2015-03-26 17:53:06.760,2015-03-26 17:52:11.000,"$75,000-$99,999",3,chicago,US,il,married,55.0,c5fa55b75f7ad3c40afe85e1faae36f3,1968
52467,52467,female,2015-03-26 17:37:35.951,2015-03-26 17:37:02.000,"$40,000-$59,999",2,new albany,US,in,married,33.0,9cfbdae33d5f7d75003943e7d5de6ba3,1966
52468,52468,male,2015-03-26 17:25:57.411,2015-03-26 17:21:54.000,"Less than $10,000",3,new delhi,IN,dl,married,243.0,af269cc785f85e09fd136701ba8be15f,1982
52469,52469,female,2015-03-26 17:07:44.355,2015-03-26 17:06:45.000,"$25,000-$39,999",2,cary,US,nc,cohabitating,59.0,97c37e375fc4e468baa6bfb74e5c2a9f,1985
52470,52470,female,2015-03-26 16:59:53.693,2015-03-26 16:51:37.000,"$25,000-$39,999",2,little rock,US,ar,engaged,496.0,ed379bf666b344879db7ed9901da9a76,1990
52471,52471,male,2015-03-26 16:39:19.636,2015-03-26 16:36:28.000,"Less than $10,000",4,bangalore,IN,ka,single,171.0,26a11244a67681893cb388382591724a,1989
52472,52472,female,2015-03-26 16:22:53.931,2015-03-26 16:21:22.000,"$15,000-$24,999",3,jamestown,US,ny,married,91.0,7a6365c07c9190337f4344d8e955d7e7,1987
52473,52473,female,2015-03-26 16:07:55.606,2015-03-26 16:06:16.000,"$40,000-$59,999",4,indore,IN,mp,married,99.0,47c8a57b67cbb00aa6dba21024aeb9cb,1982
52474,52474,male,2015-03-26 15:51:33.492,2015-03-26 15:51:08.000,"$75,000-$99,999",4,grand forks,US,nd,single,25.0,abec514a8f8a97f0d9d297c5f0a8cbc5,1992
52475,52475,female,2015-03-26 15:37:16.242,2015-03-26 15:35:59.000,"$60,000-$74,999",3,las vegas,US,nv,married,77.0,12a0248fcf2bae6a4d1e0c53a9b2a17c,1977
52476,52476,female,2015-03-26 15:27:18.526,2015-03-26 15:20:51.000,"$25,000-$39,999",3,?,IN,?,married,387.0,fbb4f1ecbc33ffe0f8e53a5cd7fc6066,1985
52477,52477,male,2015-03-26 15:06:44.851,2015-03-26 15:05:43.000,"$25,000-$39,999",3,los angeles,US,ca,single,61.0,cf8d372f96c49af7ade08a751f176b91,1991
52478,52478,male,2015-03-26 14:53:03.882,2015-03-26 14:50:35.000,"$25,000-$39,999",1,new york,US,ny,single,148.0,a379c19cddf20720dee63473296e9247,1977
52479,52479,male,2015-03-26 14:42:47.384,2015-03-26 14:35:27.000,"$60,000-$74,999",2,atlanta,US,ga,cohabitating,440.0,12718917abcc85ad826b69dc74f77a41,1987
52480,52480,male,2015-03-26 14:21:06.661,2015-03-26 14:20:16.000,"Less than $10,000",1,tyler,US,tx,single,50.0,8594db13c908a3e85b91e424fc2f2566,1995
52481,52481,male,2015-03-26 14:06:41.118,2015-03-26 14:05:10.000,"$40,000-$59,999",3,toronto,CA,on,married,91.0,06d60cbe31e79da89607588933d6aaf0,1987
52482,52482,male,2015-03-26 13:50:54.632,2015-03-26 13:50:01.000,"$60,000-$74,999",4,haverhill,US,ma,cohabitating,53.0,fcf6b4513fd6efaad4a61ccdb0347d02,1986
52483,52483,male,2015-03-26 13:37:13.706,2015-03-26 13:34:53.000,"$25,000-$39,999",1,maryland heights,US,mo,single,140.0,67881bfba0644d47e1c75a52e6a7ef60,1980
52484,52484,female,2015-03-26 13:23:13.392,2015-03-26 13:19:44.000,"$40,000-$59,999",2,greenwich,US,ct,married,209.0,5d1f41b9d1105ce2815c9cfda985defe,1988
52485,52485,female,2015-03-26 13:05:23.184,2015-03-26 13:04:36.000,"$40,000-$59,999",2,scottsville,US,ky,single,47.0,2bb8a9251afe89e0cc320d242d043ee0,1984
52486,52486,female,2015-03-26 12:51:18.571,2015-03-26 12:49:27.000,"Less than $10,000",5+,chennai,IN,tn,married,111.0,0cf55fd9b1c03f543979008312b07e6b,1990
52487,52487,male,2015-03-26 12:35:10.796,2015-03-26 12:34:19.000,"$25,000-$39,999",1,port richey,US,fl,single,51.0,5b044cf509da1d8444b6f60c465240ef,1964
52488,52488,female,2015-03-26 12:20:09.611,2015-03-26 12:19:10.000,"Less than $10,000",3,chandigarh,IN,ch,single,59.0,2f8a2cd8573908a6b5898f13f9b734a6,1990
52489,52489,male,2015-03-26 12:05:22.182,2015-03-26 12:04:01.000,"$75,000-$99,999",4,trumbull,US,ct,single,81.0,99ddbb8d2492a375929ec043718dabaa,1980
52490,52490,female,2015-03-26 11:50:08.004,2015-03-26 11:48:52.000,"$75,000-$99,999",2,san antonio,US,tx,single,76.0,6274f9e49910440fc1d73c191901067f,1963
52491,52491,female,2015-03-26 11:47:28.877,2015-03-26 11:33:43.000,"$40,000-$59,999",1,san diego,US,ca,divorced,825.0,e1ebb7807cd532a5de590aa8093590a7,1962

In [3]:
# By grouping by the informations, count the number of times each user working on the MTurk

df1 = df.groupby(['worker_id','gender','household_income','marital_status','household_size',
                  'location_country','year_of_birth']).size().sort_values()
df1=df1.reset_index()
df1.columns= ['worker_id','gender','household_income','marital_status','household_size',
              'location_country','year_of_birth','number_of_times']
df1

,worker_id,gender,household_income,marital_status,household_size,location_country,year_of_birth,number_of_times
0,0000ceeb6c91d4a1a53fec0de0cc3460,female,"$25,000-$39,999",single,1,US,1987,1
1,a14593ac153cc79be3b39dd5d7c92b10,male,"Less than $10,000",married,3,IN,1987,1
2,a14301a628ff22093311bd67a3b4377e,male,"$40,000-$59,999",married,2,DE,1982,1
3,a14301a628ff22093311bd67a3b4377e,male,"$40,000-$59,999",cohabitating,2,DE,1981,1
4,a14301a628ff22093311bd67a3b4377e,male,"$100,000 or more",married,3,DE,1980,1
5,a140dc952c3bd4a7d29738b21397c15a,female,"$25,000-$39,999",married,3,US,1977,1
6,a13f23143af6752d554b79d2e97a48a0,male,"Less than $10,000",single,3,ZZ,1988,1
7,a13f23143af6752d554b79d2e97a48a0,male,"Less than $10,000",single,3,IN,1988,1
8,a13f23143af6752d554b79d2e97a48a0,male,"$40,000-$59,999",single,4,IN,1989,1
9,a13f23143af6752d554b79d2e97a48a0,male,"$10,000-$14,999",single,3,IN,1987,1
10,a13f23143af6752d554b79d2e97a48a0,male,"$10,000-$14,999",married,2,IN,1978,1
11,a1328279d92a72f0d0538cd8080e8d8f,male,"$40,000-$59,999",single,3,GB,1993,1
12,a131da83c860f61ade94af35fa7f1677,female,"$10,000-$14,999",single,1,US,1987,1
13,a12d6eaa7724619300e7a6e7bb901454,male,"$60,000-$74,999",married,4,US,1973,1
14,a12d17b27728a7b291dc2a76d2ceaa6f,male,"$10,000-$14,999",single,1,US,1979,1
15,a12c293fa3eab93a6aaf2465abfe3eed,female,"Less than $10,000",single,1,US,1984,1
16,a12b8d7f022d4dcbddb0fed6e0206859,male,"Less than $10,000",single,1,US,1989,1
17,a128f62dd27602d34b0011f58d3e0fd4,male,"$40,000-$59,999",married,2,US,1965,1
18,a1286132be63a3885e86b611fad86dc0,male,"$60,000-$74,999",single,2,US,1985,1
19,a124b211a7485533ce7f1c9ea4c21595,female,"$75,000-$99,999",married,3,US,1995,1
20,a11f986bc356a0b748adc7c6a73a0949,male,"Less than $10,000",married,3,US,1985,1
21,a11f986bc356a0b748adc7c6a73a0949,male,"$10,000-$14,999",married,3,IN,1985,1
22,a11dae8787685962ee1dc6e6f2487dcb,female,"Less than $10,000",single,1,US,1988,1
23,a11dae8787685962ee1dc6e6f2487dcb,female,"Less than $10,000",cohabitating,2,US,1988,1
24,a11acea1cdce8c9daf4aae95c7b246b2,female,"$25,000-$39,999",married,3,US,1977,1
25,a11816be3bb0fa6adc5ed349f7564cb0,male,"$100,000 or more",single,1,US,1986,1
26,a11709b89a81a4b7234071202a186325,male,"$15,000-$24,999",single,1,US,1984,1
27,a114a511bdcc388a6be5e876a21eb53c,female,"$10,000-$14,999",divorced,1,US,1950,1
28,a14a4e6f0b16eb5d65fbae344280f0c1,female,"$40,000-$59,999",single,1,US,1986,1
29,a14b9fa07dbefbea62cf98ca8997d211,female,"$40,000-$59,999",divorced,2,US,1971,1
...,...,...,...,...,...,...,...,...
36467,8580b338607d58342a173ddd89ec281a,male,"$40,000-$59,999",married,2,US,1954,15
36468,07fe92ca1884504de0963351a10d4811,male,"$15,000-$24,999",cohabitating,2,US,1971,15
36469,aa5d4fb33b04daf7c7aec3721b4be6a4,female,"$100,000 or more",cohabitating,2,US,1970,15
36470,9ddd0e9532be9f45d06a2e50412f2647,female,"$25,000-$39,999",single,4,US,1981,15
36471,49f024fa54e56dc620653bac007e88ca,male,"Less than $10,000",single,3,IN,1988,15
36472,dcc7979b24f7db8a5234833bc3bd0841,male,"Less than $10,000",married,5+,IN,1989,15
36473,e7e6e14bc7373b0e93a9a0fc879b4d10,female,"$15,000-$24,999",cohabitating,2,US,1977,15
36474,a44c5c2a33b7ef27be104811d1ad9917,male,"$40,000-$59,999",married,5+,US,1962,15
36475,e79b589b4de4ae828aef033e37070062,male,"$60,000-$74,999",married,5+,US,1978,15
36476,b36ffffcd1831441a2a3b60919312ccd,male,"$10,000-$14,999",married,3,RU,1980,15
36477,a3c1930277b3cfe02f0c6c052cb5ba3f,male,"Less than $10,000",single,5+,IN,1991,15
36478,a6a0640e30455450e3692b4d3fdeaf49,female,"$25,000-$39,999",married,2,US,1972,15
36479,0523ef84fc8d167c2e81e0394e57f20e,male,"Less than $10,000",married,5+,IN,1980,15
36480,9a62370e8624c6a4042f8be623a03bce,male,"$10,000-$14,999",single,1,US,1965,16
36481,44f4e9fa79c84458e732d6b8813e2cf5,female,"$75,000-$99,999",married,3,US,1984,16
36482,c7457847474b38d030089865bfdd0a2f,female,"$60,000-$74,999",married,3,US,1973,16
36483,b74b0954bbc780a9c1bea103370ca369,male,"Less than $10,000",single,1,US,1977,16
36484,1eea49ef4ad993a73014bd8f43a8064f,male,"$75,000-$99,999",married,4,US,1977,16
36485,0d21752976de9007b9c700c5b9a7d2af,male,"$40,000-$59,999",married,3,US,1966,16
36486,91d6912ec3b55b5914becf015fe8c33f,male,"$100,000 or more",single,3,US,1986,16
36487,b2eb9a410e941c1325823ecbceaef077,male,"Less than $10,000",single,4,IN,1985,16
36488,94ecb8b915f9c6b5ed89678d78dba6f1,female,"$40,000-$59,999",married,2,US,1962,17
36489,9209bd16839ff33192078642796f4bfe,male,"$40,000-$59,999",married,4,US,1982,17
36490,5b044cf509da1d8444b6f60c465240ef,male,"$25,000-$39,999",single,1,US,1964,17
36491,8c4f8c21aeddff5e706d66126195d973,male,"Less than $10,000",single,2,PH,1982,17
36492,8d581e715b2ca964b55dc6ec3a02f7bc,female,"Less than $10,000",engaged,2,US,1995,17
36493,d0affb3378f77c9500772f1d90efb7a1,male,"$100,000 or more",married,4,US,1961,17
36494,96e1ca864c69ab8f35ae051ab9e7e7a8,male,"$100,000 or more",cohabitating,2,US,1973,18
36495,7227d93f54edef858df51213e2da65f9,male,"$75,000-$99,999",married,4,US,1986,19
36496,52629358bb4b600cd895af4db743e93a,female,"$15,000-$24,999",married,3,IN,1984,23

In [7]:
df2 = df.groupby(['worker_id']).size().sort_values()
df2=df2.reset_index()
df2

                              worker_id   0
0      0000ceeb6c91d4a1a53fec0de0cc3460   1
1      9adfe96d7d8f374c4ac8a0e0fc0f14cb   1
2      9ade47ff5fafd9ce469dc2f271244002   1
3      9ad8023da8e801f4a281c8d6d144634b   1
4      9ad736135fb545bf62ef87574b855808   1
5      9ad6721113a01e33d7077b19100da485   1
6      9ad5717127524806902e74bfbaa1958f   1
7      9ad503b874791c2f127ad704ec849fd3   1
8      9ad1d01b1075ee5ae9f82a252e6326b6   1
9      9acc6185ab15a4d4522605b738d620fe   1
10     9ac99b0d4d39bc2fc300b503ae487c66   1
11     9ac96f90a3f6d41f6a6c64c95770baa3   1
12     9ac74a728cc7200ae83d0774a37d95d9   1
13     9ac708be530f76ca413163a08ff6f214   1
14     9ac5c57120ac082998fd2a45d876a0ec   1
15     9ac5194313441ccc17a05ed0a58bd176   1
16     9ac1ed5ed43b444bde0d13903216c7a9   1
17     9abefb26e9dae043f1f479d414347574   1
18     9abed6aa23efc30d8d48fdd7c8102b9d   1
19     9abc7995a3e5036c59991de0fa3aca54   1
20     9ae3e902a5cbcaa7a886873270ff5a47   1
21     9abbef418dc60221f144d8716a7f5aa4   1
22     9ae4969791606e500221a3e8a2672e7d   1
23     9aeaf63fa4c5c9f374643ba9656e041b   1
24     9b3ed7d35b761ea370982623b771084a   1
25     9b3e31309b7060525bc73ddf26c40c09   1
26     9b358580e0df881ffab54b002cfe4cbc   1
27     9b2fa7ed4a71717f0fea2c8c077840fc   1
28     9b247580369959c5fef568f4dd284d06   1
29     9b20543471f711bc199eb433896900bb   1
...                                 ...  ..
28715  877b7adfc3c49c21ecef7ddd7709755e  16
28716  e02f2243f36f20070ad72bc75e9e59d7  17
28717  94ecb8b915f9c6b5ed89678d78dba6f1  17
28718  b1f852d1ef0dfceda899291ab02cc02a  17
28719  e5c4b601c2c07256dc55d8f631f73435  17
28720  8c4f8c21aeddff5e706d66126195d973  17
28721  98a18b3a53eb273babecb5ff88bee6dc  17
28722  a30d244141cb2f51e0803e79bc4bd147  17
28723  217879bd34b347905ace684b75025c31  17
28724  1eea49ef4ad993a73014bd8f43a8064f  17
28725  be978a938ef27a61663ac38c1d426617  17
28726  d0affb3378f77c9500772f1d90efb7a1  17
28727  b5dc717d9945a468fb14ae696303ef49  17
28728  b2eb9a410e941c1325823ecbceaef077  17
28729  17f982691d3c6aebf9cb047d06dc2f12  17
28730  a82df0f35d79cb92b986f092f88854b8  17
28731  9a62370e8624c6a4042f8be623a03bce  17
28732  f04872a22a48af0c0c6bcdf02c4a8b59  17
28733  9209bd16839ff33192078642796f4bfe  17
28734  5b044cf509da1d8444b6f60c465240ef  17
28735  49f024fa54e56dc620653bac007e88ca  17
28736  dd6b93328b95f5c7b796b9d2c11d191b  17
28737  1e4879a728be7fae0d8181abaea1130c  17
28738  96e1ca864c69ab8f35ae051ab9e7e7a8  18
28739  f5897a5c69cd5c423a68fa0197ee0494  18
28740  7e7bbc4323d702dd2122a723fc7c297b  18
28741  7227d93f54edef858df51213e2da65f9  19
28742  cc15e2c74af011007361cef2b44fd33f  20
28743  8d581e715b2ca964b55dc6ec3a02f7bc  23
28744  52629358bb4b600cd895af4db743e93a  28

[28745 rows x 2 columns]

In [18]:
df1[df1.worker_id=='cc15e2c74af011007361cef2b44fd33f']

,index,worker_id,gender,household_income,marital_status,household_size,location_country,year_of_birth,number_of_times
15567,15567,cc15e2c74af011007361cef2b44fd33f,male,"$25,000-$39,999",single,3,US,1971,1
15568,15568,cc15e2c74af011007361cef2b44fd33f,male,"$15,000-$24,999",single,3,US,1989,1
35606,35606,cc15e2c74af011007361cef2b44fd33f,male,"$25,000-$39,999",single,3,US,1989,5
36444,36444,cc15e2c74af011007361cef2b44fd33f,male,"$25,000-$39,999",single,3,US,1970,13